<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="TOKEN" value="dG9rZW4gZGUgc2VndXJpZGFk.ew0KICAgICJVcmxBcGlSZXN0U0JPIjoiaHR0cHM6Ly9sb2NhbGhvc3Q6NDQzMjgvU09jb21EYXRhL1JlZ0NvbSIsDQogICAgIkNvbUlEIjoiQkFMQU5aQTEiLA0KICAgICJVc2VySUQiOiJFQkMiLA0KICAgICJUaW1lck1TIjoiMTUwIg0KfQ=="/>
  </appSettings>
</configuration>
